name: Backend CI (PHP)

on:
  push:
    branches: [ main ]
    # only if backend is affected
    paths:
      - 'backend/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: sqlite3, pdo_sqlite
          tools: composer:v2
        env:
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{ secrets.GITHUB_TOKEN }}"}}'

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      - name: Create .env file for testing
        run: |
          echo "APP_ENV=testing" >> .env
          echo "CORS_ALLOWED_ORIGIN=http://localhost:5173" >> .env
          echo "API_KEY=123456789abcdef" >> .env
          echo "COCKTAILDB_API_BASE_URL=https://www.thecocktaildb.com/api/json/v1/1/" >> .env

      - name: Run PHPUnit tests
        run: composer test
